<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
	</extensions>

	<targets>

		<target xsi:type="File" name="Debug" fileName="${CurrentDir}/Logs/debug.txt"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />

		<target xsi:type="File" name="Info" fileName="${CurrentDir}/Logs/info.txt"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
		
		<target xsi:type="File" name="Warn" fileName="${CurrentDir}/Logs/warn.txt"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
		
		<target xsi:type="File" name="Error" fileName="${CurrentDir}/Logs/error.txt"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" level="Debug" writeTo="Debug" />
		<logger name="*" level="Info" writeTo="Info" />
		<logger name="*" level="Warn" writeTo="Warn" />
		<logger name="*" level="Error" writeTo="Error" />
	</rules>
</nlog>